html, body {margin:0; padding:0; height:100%; overflow: hidden; color: #222222;}
iframe { width: 100%; height: 100%; border: none; }
h3 {
	font-size: 110%; 
	line-height: 110%; 
}
.sidebar {
	border-left: 1px solid #999;
	width: 350px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.sidebar .inner {
	padding: 0 1em 1em 1em;
	margin-right: 1em;
}
.title {
	font-weight: bold;
	margin: 10px 0 5px 0;
}
.header {
	padding: 1em 2em 0 1em;
	border-bottom: 2px solid #ccc;
}
.content {
	position: relative;
	top: 0;
	left: 0;
	margin-right: 350px;
	min-height: 100%;
	height: 100%;
}
.section {
	padding: 0.5em;
	border-bottom: 2px solid #ccc;
}
.section-no-border {
	padding: 0.5em;
}
.locale {
	padding: 0.5em;
	margin-top: 10px;
}
.university-logo {
	text-align: center;
	min-height: 40px;
	max-width: 220px;
}
.caret-plain {
	color: #999;
}
.caret-hover {
	color: #333;
}
.breakout, .hide-sidebar {
	text-align: right;
	cursor: pointer;
	color: #999;
}
.breakout:hover, .hide-sidebar:hover {
	color: #333;
}
.sidebar-collapsed-image {
	max-width: 30px;
	max-height: 450px;
	cursor: pointer;
	position: absolute;
	top: 25%;
}
.sidebar-collapsed-clickable {
	padding-top: 25%;
	padding-bottom: 10000%;
	cursor: pointer;
}
#source {
	font-size: 110%;
	line-height: 110%;
}
#source-menu-header {
	font-weight: bold;
	margin: 10px 0 0 0;
}
.citation-data {
	font-size: 95%;
	line-height: 15px;
}
#source-control {
	margin-top: 10px;
}
.actions {
	margin-top: 20px;
	margin-bottom: 5px;
}
.email-confirmation {
	height: 200px;
}
.email-form, .export-form, .email-confirmation, .bad-link-logging-confirmation, .report-problem-form, .interlibrary-loan-form {
	background: white;
	width: 310px;
	padding: 10px;
}
.interlibrary-loan-confirmation {
	padding-top: 20px;
}
.selected-resource {
	background-color: #DCDCDC;
}
.email-validation-message {
	color: red;
	padding-bottom: 5px;
}
.show-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
}
.show-link-data {
	width: 80%;
	height: 300px;
	margin: 100px auto;
	border: 1px solid black;
	padding: 20px;
	background: white;
	word-break: break-all;
}
.show-link-close {
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
	text-decoration: underline;
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
#source, .source-open, .source-close, .info, .custom-links-header, .custom-links-open, .custom-links-close {
	cursor: pointer;
}
.info {
	margin-right: 3px;
	font-weight: bold; 
	font-size: 16px; 
	margin-left: 5px; 
	color: #0088cc;
}
span.creator a {
	font-style: normal !important;
}
input[type="radio"] {
	vertical-align: -16%;
}
.chat {
	text-align: center;
}
.chat-image, .chat-button {
	max-width: 220px;
}
.one-click-exclude-message {
	width: 60%; 
	margin: auto; 
	margin-top: 200px; 
	overflow: hidden;
	text-align: center;
	font-size: 18px;
}
.open-content-in-new-tab {
	text-align: center;
}
#syndetics, #no-cover-image, #replace-one-pixel-cover-image {
	width: 70px;
	white-space: nowrap;
}
#syndetics img {
	max-width: 70px;
	border: 1px solid #ccc;
}
#ulrichs-header {
	margin: 20px 0 10px 0;
}
#ulrichs-data {
	max-width: 280px;
	margin: 0px auto 10px auto;
}
.ulrichs-data-space {
	height: 5px;
}
.ulrichs-label {
	font-size: 95%;
}
.ulrichs-link {
	padding: 10px 0 10px 0;
}
#ulrichsForm {
	margin: 0px;
}
.altmetric-embed {
	margin: 10px 0 0 0;
}
.link-for-screenreaders {
	text-decoration: none !important;
	color: inherit !important;
}

/* Bootstrap over-rides*/
body, label, input, button, select, textarea {
	font-size: 13px;
}
input[type="text"] {
	height: auto;
}
input, textarea, select {
	width: 280px;
}
.row-fluid [class*="span"] {
	min-height: 0px;
}
.accessibility-hidden {
	height: 1px; 
	width: 1px; 
	position: absolute; 
	overflow: hidden; 
	top: -10px;
}

/*
		Bibliographic citation manager
*/
/* bcm render block email/export */
.bcm-render {
	margin: 0px 0px 10px 00px;
	width: 280px;
}

/* center spinner */
#spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body[dir="rtl"] #source {
	float: right;
}
body[dir="rtl"] .row-fluid .span3 {
    float: right;
}
body[dir="rtl"] .row-fluid .span9 {
    float: right;
}
body[dir="rtl"] .ulrichs-label {
	float: right;
    padding-left: 10px;
}
body[dir="rtl"] #ulrichs-rtl-line-break {
    display: block;
}
body[dir="rtl"] .report-problem-form, body[dir="rtl"] .interlibrary-loan-form {
    left: 0 !important;
}